.features {
  &__s-title {
    margin: 0;
    @include font-fw-fs-lh-ls(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__box {
    height: res(120px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: color(_l-grey);
    border-radius: 4px;
  }

  &__text {
    margin: 10px 0 0 0;
    @include font-fw-fs-lh-ls(400, 14px, 1.71, 0.03em);
    color: color(_c-grey);
  }

  &__item {
    flex-basis: 100%;

    @media screen and (min-width: 768px) {
      flex-basis: calc(354px * var(--coef));
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(270px * var(--coef));
    }
  }

  &__icon {
    display: block;
    width: res(70px);
    height: res(70px);
    fill: color(_dark);
    --c-a: var(--color-blue);
  }
}
