.hero {
  margin: 0 auto;
  max-width: var(--mobile);
  padding-block: res(118px);
  background: color(_f-bg);
  @include bg-image('bghero480');

  @media screen and (min-width: 768px) {
    max-width: var(--tablet);
    @include bg-image('bghero768');
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-block: 200px;
    @include bg-image('bghero1600');
  }

  &__title {
    display: block;
    max-width: res(360px);
    margin-inline: auto;
    text-align: center;
    text-transform: uppercase;
    color: color(_white);
    @include font-fw-fs-lh-ls(900, 26px, 1.62, 0.06em);

    @media screen and (min-width: 1200px) {
      min-width: 696px;
      margin: 0 auto 30px auto;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__button {
    display: block;
    padding: 10px 24px 10px 24px;
    margin-inline: auto;
    @include font-fw-fs-lh-ls(700, 16px, 1.88, 0.06em);
    color: color(_white);
    background: color(_blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    @include transition(background-color, 250ms, $cubic);

    @media screen and (min-width: 1200px) {
      padding-inline: res(32px);
      font-size: 16px;
      line-height: 1.88;
    }

    &:hover,
    &:focus {
      background: color(_c-blue);
    }
  }
}
