.hover-box {
  position: absolute;
  width: 100%;
  height: 294px; /*image height*/
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-inline: 24px;
  @include font-fw-fs-lh-ls(400, 18px, 1.56, 0.03em);
  color: color(_white);
  background-color: color(_c-blue);
  opacity: 0.1;
  z-index: 1;
  transform: translateY(101%);
  -webkit-transform: translateY(101%);
  -moz-transform: translateY(101%);
  -ms-transform: translateY(101%);
  -o-transform: translateY(101%);
  @include transition(transform opacity, 250ms, $cubic);
}
