.team-socials {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  justify-content: center;

  &__link {
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
    fill: color(_c-grey);
    @include border-radius(50%);
    @include transition(background-color fill, 250ms, $cubic);

    &:hover,
    &:focus {
      fill: color(_white);
      background-color: color(_blue);
    }
  }
}
