.address {
  flex-direction: column-reverse;
  gap: 32px;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 50px;
  }

  &__link {
    font-style: normal;
    color: color(_grey);
    fill: color(_grey);

    &:hover,
    &:focus {
      color: color(_blue);
      fill: color(_blue);
    }
  }

  &__map {
    color: color(_white);
  }

  &__mailto,
  &__tel {
    color: color(_address-g);
  }
}
