.address {
  gap: 32px;

  @media screen and (min-width: 481px) {
    gap: 50px;
  }

  &__menu {
    @media screen and (max-width: 480px) {
      flex-direction: column-reverse;
    }
  }

  &__link {
    font-style: normal;
    color: color(_grey);
    fill: color(_grey);

    &:hover,
    &:focus {
      color: color(_blue);
      fill: color(_blue);
    }
  }

  &__map {
    color: color(_white);
  }

  &__mailto,
  &__tel {
    color: color(_address-g);
  }
}
