.header {
  margin-inline: auto;
  border-bottom: border(_grey-line);
  max-width: var(--mobile);

  @media screen and (min-width: 768px) {
    max-width: var(--tablet);
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
  }

  &__flex {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      align-items: center;
    }

    @media screen and (min-width: 768px) {
      gap: 87px;
    }

    @media screen and (min-width: 1200px) {
      gap: 93px;
    }
  }

  &__logo {
    padding-top: 25px;
    padding-bottom: 24px;

    &--contrast {
      color: color(_black);
    }
  }

  &__link {
    display: inherit;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms $cubic, fill 250ms $cubic;
    -webkit-transition: color 250ms $cubic, fill 250ms $cubic;
    -moz-transition: color 250ms $cubic, fill 250ms $cubic;
    -ms-transition: color 250ms $cubic, fill 250ms $cubic;
    -o-transition: color 250ms $cubic, fill 250ms $cubic;
  }
}
