.container {
  width: 100%;
  max-width: $content-width;
  margin-inline: auto;
  padding-inline: 15px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.list-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.wrapper {
  padding-block: 30px;
}

.border-box {
  position: relative;
  z-index: 2;
  padding: 20px 24px 19px 24px;
  background-color: color(_white);
  border-bottom: border(_project);
  border-left: border(_project);
  border-right: border(_project);
}
