.container {
  width: 100%;
  max-width: $content-width;
  margin-inline: auto;
  padding-inline: 15px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.list-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.wrapper {
  padding-block: 30px;
}
