.icon {
  display: block;
  width: 20px;
  height: 20px;

  &__mailto,
  &__tel {
    margin-right: 10px;
  }

  @media screen and (max-width: 480px) {
    &__mailto,
    &__tel {
      display: none;
    }
  }
}
