.icon {
  display: block;
  width: 20px;
  height: 20px;

  &__mailto,
  &__tel {
    display: none;
    margin-right: 10px;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}
