.header {
  border-bottom: border(_grey-line);

  &__link {
    display: inherit;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms $cubic, fill 250ms $cubic;
    -webkit-transition: color 250ms $cubic, fill 250ms $cubic;
    -moz-transition: color 250ms $cubic, fill 250ms $cubic;
    -ms-transition: color 250ms $cubic, fill 250ms $cubic;
    -o-transition: color 250ms $cubic, fill 250ms $cubic;
  }
}
